<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parent</key>
	<string>at.obdev.LaunchBar.theme.Default</string>


	<key>itemListSubtitleInSeparateLine</key>
	<false/>

	<key>itemListTitleBaselineOffset</key>
	<string>-1.5</string>
	<key>itemListSubtitleBaselineOffset</key>
	<string>-1.85</string>

	<key>itemListTitleFontSize</key>
	<string>15</string>
	<key>itemListSubtitleFontSize</key>
	<string>12.5</string>

	<key>itemListSubtitleFontName</key>
	<string>mediumSystemFont</string>
	
	
	<key>inputAreaHeight</key>
	<integer>59</integer>
	<key>itemListRowHeight</key>
	<string>41</string>


	<key>inputAreaIconSize</key>
	<string>32 32</string>
	<key>itemListIconSize</key>
	<string>32 32</string>


	<key>windowCornerRadius</key>
	<integer>10</integer>
	<key>itemListSelectionCornerRadius</key>
	<integer>6</integer>


	<key>inputAreaPaddingLeft</key>
	<integer>19</integer>


	<key>itemListEdgeInsets</key>
	<string>10 11 10 11</string>


	<key>itemListSeparatorUpperLineThickness</key>
	<integer>1</integer>
	<key>itemListSeparatorUpperLineColor</key>
	<string>#FFFFFF20</string>

	<key>itemListSeparatorLowerLineThickness</key>
	<integer>0</integer>
	<key>itemListSeparatorLowerLineColor</key>
	<string>clearColor</string>


	<key>itemListScrollerColor</key>
	<string>#FFFFFF25</string>


	<key>windowHasInnerShadow</key>
	<true/>
	<key>windowInnerShadowBlurRadius</key>
	<integer>2</integer>
	<key>windowInnerShadowColor</key>
	<string>#FFFFFF45</string>
	<key>windowInnerShadowOffset</key>
	<integer>-1</integer>


	<key>itemListSelectionHighlightColor</key>
	<string>#0A83FE</string>
	<key>itemListSelectionSubsearchHighlightColor</key>
	<string>@itemListSelectionHighlightColor - 0.15</string>

	<key>itemListSelectedSubtitleTextColor</key>
	<string>#a6daff</string>


	<key>windowDefaultWidth</key>
	<string>700</string>
	<key>windowMinimumWidth</key>
	<string>700</string>


	<key>inputAreaBackgroundGradient</key>
	<dict>
	<key>0.0</key>
	<string>clearColor</string>
	<key>0.0</key>
	<string>clearColor</string>
	</dict>


	<key>itemListGridLineHeight</key>
	<integer>0</integer>
	<key>itemListGridLineGradient</key>
	<dict>
		<key>0.0</key>
		<string>1 1 1 0.04</string>
		<key>0.1</key>
		<string>1 1 1 0.04</string>
		<key>0.9</key>
		<string>1 1 1 0.04</string>
		<key>1.0</key>
		<string>1 1 1 0.04</string>
	</dict>
	<key>itemListGridLineShadowHeight</key>
	<integer>0</integer>


	<key>windowBackgroundColor</key>
	<string>0 0 0 0.20</string>
	<key>windowBackgroundMaterial</key>
	<string>21</string>
	<key>windowBackgroundIsDark</key>
	<true/>




	<key>itemListStagedItemHighlightLevel</key>
	<real>0.3</real>
	<key>itemListSubtitleTextColor</key>
	<string>@defaultTextColor - 0.35</string>

	<key>defaultTextColor</key>
	<string>whiteColor</string>
	<key>defaultTextShadowColor</key>
	<string>#00000033</string>
	<key>defaultTextShadowColor@2x</key>
	<string>clearColor</string>
	<key>defaultDimmedTextColor</key>
	<string>0.8 0.8 0.8</string>
	<key>inputAreaAbbreviationTextColor</key>
	<string>#f9f9f9</string>
	<key>inputAreaActionMenuAreaBackgroundColor</key>
	<string>1 1 1 0.1</string>
	<key>inputAreaNonKeyWindowTextColorOffsetLevel</key>
	<real>-0.3</real>
	<key>inputAreaTextColor</key>
	<string>@defaultTextColor</string>
	<key>textInputPlaceholderTextColor</key>
	<string>#999999</string>
	
</dict>
</plist>
