<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inputAreaAbbreviationBaselineOffset</key>
	<integer>2</integer>
	<key>itemListTitleBaselineOffset</key>
	<integer>0</integer>
	<key>itemListSubtitleBaselineOffset</key>
	<integer>1</integer>
	<key>itemListLabeledExtraDetailsBaselineOffset</key>
	<integer>2</integer>
	<key>itemListLabeledExtraDetailsDeemphasizedBaselineOffset</key>
	<integer>1</integer>
	<key>textInputFieldEditorEdgeInsets@1x</key>
	<string>3.5 0 2 14</string>
	<key>defaultFontName</key>
	<string>HelveticaNeue-Light</string>
	<key>defaultEmphasizedFontName</key>
	<string>HelveticaNeue-Bold</string>
	<key>itemListLabeledExtraDetailsFontName</key>
	<string>HelveticaNeue-Light</string>
	<key>itemListSubtitleFontName</key>
	<string>HelveticaNeue</string>
	<key>itemListTitleFontName</key>
	<string>HelveticaNeue</string>
</dict>
</plist>
